table {
    width: $table-width;
    @include margin-shorthand-with-screens-support((
        top:$table-margin-top,
        bottom: $table-margin-bottom,
        left: $table-margin-left,
        right: $table-margin-right
    ), $table-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $table-border-width,
            style: $table-border-style,
            color: $table-border-color,
            make-shorthand: true
        )
    ), $table-borders));
    border-collapse: $table-border-collapse;
    @include border-spacing-shorthand((
        horizontal: $table-border-spacing-horizontal,
        vertical: $table-border-spacing-vertical
    ));
    @include table-extra-style();
}

th, td {
    @if (
        $th-border-width == $td-border-width and
        $th-border-style == $td-border-style and
        $th-border-color == $td-border-color and
        $th-borders == $td-borders
    ) {
        @include border-shorthand(map-merge((
            border: (
                width: $th-border-width,
                style: $th-border-style,
                color: $th-border-color,
                make-shorthand: true
            )
        ), $th-borders));
    }
    @if (
        $th-padding-top == $td-padding-top and
        $th-padding-bottom == $td-padding-bottom and
        $th-padding-left == $td-padding-left and
        $th-padding-right == $td-padding-right
    ) {
        @include padding-shorthand((
            top: $th-padding-top,
            bottom: $th-padding-bottom,
            left: $th-padding-left,
            right: $th-padding-right
        ));
    }
    @include th-td-extra-style();
}

th {
    @if (
        $th-border-width != $td-border-width or
        $th-border-style != $td-border-style or
        $th-border-color != $td-border-color or
        $th-borders != $td-borders
    ) {
        @include border-shorthand(map-merge((
            border: (
                width: $th-border-width,
                style: $th-border-style,
                color: $th-border-color,
                make-shorthand: true
            )
        ), $th-borders));
    }
    @include background-shorthand((
        image: $th-background-image,
        position: $th-background-position,
        repeat: $th-background-repeat,
        color: $th-background-color,
        attachment: $th-background-attachment,
        make-shorthand: true
    ));
    @if (
        $th-padding-top != $td-padding-top or
        $th-padding-bottom != $td-padding-bottom or
        $th-padding-left != $td-padding-left or
        $th-padding-right != $td-padding-right
    ) {
        @include padding-shorthand((
            top: $th-padding-top,
            bottom: $th-padding-bottom,
            left: $th-padding-left,
            right: $th-padding-right
        ));
    }
    font-weight: $th-font-weight;
    text-align: $th-text-align;
    @include th-extra-style();
}

td {
    @if (
        $th-border-width != $td-border-width or
        $th-border-style != $td-border-style or
        $th-border-color != $td-border-color or
        $th-borders != $td-borders
    ) {
        @include border-shorthand(map-merge((
            border: (
                width: $td-border-width,
                style: $td-border-style,
                color: $td-border-color,
                make-shorthand: true
            )
        ), $th-borders));
    }
    @if (
        $th-padding-top != $td-padding-top or
        $th-padding-bottom != $td-padding-bottom or
        $th-padding-left != $td-padding-left or
        $th-padding-right != $td-padding-right
    ) {
        @include padding-shorthand((
            top: $td-padding-top,
            bottom: $td-padding-bottom,
            left: $td-padding-left,
            right: $td-padding-right
        ));
    }
    @include td-extra-style();
}

tr {
    @include tr-extra-style();
}

caption {
    @include padding-shorthand((
        top: $caption-padding-top,
        bottom: $caption-padding-bottom,
        left: $caption-padding-left,
        right: $caption-padding-right
    ));
    text-align: $caption-text-align;
    color: $caption-color;
    @include caption-extra-style();
}