th, td, caption {
    padding: $table-column-padding
}

th, td {
    border: $table-column-border;
    border-spacing: 0;
}

th {
    background: $th-background;
    font-weight: bold;
    text-align: left;
}

tr:nth-child(even) td {
    background: $td-odd-background;
}

caption {
    text-align: center;
    color: $caption-color;
}

table {
    width: 100%;
    @include include-element-margin($table-margin-top, $table-margin-bottom, $table-margin-left, $table-margin-right, $table-margin-for-screens);
    border: $table-column-border;
    border-collapse: collapse;
    border-spacing: 0;
}
