//Table
$table-width: 100% !default;

//Margins
$table-margin-top: $elements-margin-top !default;
$table-margin-bottom: $elements-margin-bottom !default;
$table-margin-left: $elements-margin-left !default;
$table-margin-right: $elements-margin-right !default;
$table-margin-for-screens: $elements-margin-for-screens !default;

//Borders
$table-border-width: 1px !default;
$table-border-style: solid !default;
$table-border-color: get-color(grey, 200) !default;
$table-borders: () !default;

$table-border-collapse: collapse !default;
$table-border-spacing-horizontal: 0 !default;
$table-border-spacing-vertical: 0 !default;

//Extra style
//@mixin table-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Tr
//Extra style
//@mixin tr-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Th Td
//@mixin th-td-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Th
//Borders
$th-border-width: $table-border-width !default;
$th-border-style: $table-border-style !default;
$th-border-color: $table-border-color !default;
$th-borders: () !default;

//Background
$th-background-image: null !default;
$th-background-position: null !default;
$th-background-repeat: null !default;
$th-background-color: $table-border-color !default;
$th-background-attachment: null !default;

//Paddings
$th-padding-top: 0.85em !default;
$th-padding-bottom: 0.85em !default;
$th-padding-left: 1em !default;
$th-padding-right: 1em !default;

//Font
$th-font-weight: bold !default;

//Text
$th-text-align: left !default;

//Extra style
//@mixin th-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Td
//Borders
$td-border-width: $table-border-width !default;
$td-border-style: $table-border-style !default;
$td-border-color: $table-border-color !default;
$td-borders: () !default;

//Paddings
$td-padding-top: $th-padding-top !default;
$td-padding-bottom: $th-padding-bottom !default;
$td-padding-left: $th-padding-left !default;
$td-padding-right: $th-padding-right !default;

//Extra style
//@mixin td-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Td even
//$td-even-background: $th-background !default;

//Caption
//Paddings
$caption-padding-top: $th-padding-top !default;
$caption-padding-bottom: $th-padding-bottom !default;
$caption-padding-left: $th-padding-left !default;
$caption-padding-right: $th-padding-right !default;

//Text
$caption-text-align: center !default;
$caption-color: $primary-color !default;

//Extra style
//@mixin caption-extra-style() {} //Create this mixin before import module when you want add some special style for element