//Table
$table-margin: $elements-margin;
$table-column-border: 1px solid get-color(grey, 100);
$table-column-padding: 0.85em 1em;

//Table hover
$table-hover-row-background: get-color(grey, 300);

//Caption
$caption-color: $primary-color;

//Th
$th-background: get-color(grey, 200);

//Td
$td-odd-background: $th-background;
