//Table
@mixin include-table-colors($colors-map) {
    @if map-has-key($colors-map, border-color) and map-get($colors-map, border-color) {
        border-color: map-get($colors-map, border-color);
    }
    @if map-has-key($colors-map, color) and map-get($colors-map, color) {
        color: map-get($colors-map, color);
    }

    th, td {
        border-color: map-get($colors-map, border-color);
    }
}

@mixin table-colors($colors-map) {
    table {
        @include include-table-colors($colors-map);
    }
}

@mixin class-table-colors($class, $colors-map) {
    table.#{$class} {
        @include include-table-colors($colors-map);
    }
}

//Th
@mixin include-th-colors($colors-map) {
    @if map-has-key($colors-map, background) and map-get($colors-map, background) {
        background: map-get($colors-map, background);
    }
    @if map-has-key($colors-map, color) and map-get($colors-map, color) {
        color: map-get($colors-map, color);
    }
}

@mixin th-colors($colors-map) {
    th {
        @include include-th-colors($colors-map);
    }
}

@mixin class-th-colors($class, $colors-map) {
    th.#{$class} {
        @include include-th-colors($colors-map);
    }
}

//Td
@mixin include-td-colors($colors-map) {
    @if map-has-key($colors-map, background) and map-get($colors-map, background) {
        background: map-get($colors-map, background);
    }
    @if map-has-key($colors-map, color) and map-get($colors-map, color) {
        color: map-get($colors-map, color);
    }
}

@mixin td-colors($colors-map) {
    td {
        @include include-td-colors($colors-map);
    }
}

@mixin td-even-colors($colors-map) {
    tr:nth-child(even) td {
        @include include-td-colors($colors-map);
    }
}

@mixin class-td-colors($class, $colors-map) {
    td.#{$class} {
        @include include-td-colors($colors-map);
    }
}

//Caption
@mixin include-caption-colors($colors-map) {
    @if map-has-key($colors-map, color) and map-get($colors-map, color) {
        color: map-get($colors-map, color);
    }
}

@mixin caption-colors($colors-map) {
    caption {
        @include include-caption-colors($colors-map);
    }
}

@mixin class-caption-colors($class, $colors-map) {
    caption.#{$class} {
        @include include-caption-colors($colors-map);
    }
}
